main{
	width: 80%;
	margin: 50px auto;
	border: solid 2px black;
	background-color: red;
}

h1{
	background-color: aliceblue;
}

section{
	width: 81%;
	margin: 50px;
	padding: 50px;
	background-color: skyblue;
}

article{
	border: solid 2px yellow;
	background-color: greenyellow;
	margin: 50px 0px;
	padding: 50px;
}